:root {
    --maim-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /*text color*/
    --main-txt-cl: #000000;
    --secondary-txt-cl: #757575;
    --accent-cl: #2196F3;
    --accent-btn-cl: #188CE8;
    --nav-cl: #212121;
    --hero-txt-cl: #ffffff;

    /* letter spacing */
    --ls-primary: 0.03em;
    --ls-second: 0.02em;
    --ls-thirt: 0.06em;

    /* background color */
    --main-bg-cl: #E5E5E5;
    --secondary-bg-cl: #F5F4FA;
    --dark-bg-cl: #2F303A;

    /* Animation */
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--maim-font);
    background-color: var(--hero-txt-cl);
    color: var(--main-txt-cl);    
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 2px solid turquoise; */
}

.list, .proj-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Header */

.page-header {
    border-bottom: 1px solid #ECECEC
}

.header-group,
.site-nav {
    display: flex;
}

.header-group {
    padding: 0;
    margin-left: auto;
    align-items: center;
}

.icon-header {
    fill: currentColor;
    margin-right: 10px;
}

.main-nav {
    display: flex;
    align-items: center; 
}

.site-nav {
    margin-left: 93px;
}

.site-nav .item {
    position: relative;
}


.site-nav .item + .item {
    margin-left: 50px;
}

.logo {
    margin: 0;
    padding: 0;
    /* outline: 2px solid tomato; */
}

.link-logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: var(--ls-primary);
    color: var(--accent-cl);
}

.header-logo {
    color: var(--main-txt-cl); 
}

.site-nav .item .current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-cl);
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--ls-second);
    text-decoration: none;
    
    color: var(--nav-cl);
    transition: color var(--animation);

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-cl);
    
}

.site-nav .link:active {
    color: var(--accent-cl);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.link.current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--ls-second);

    color: var(--accent-cl);
}

/* Header Group */
.header-group .item + .item {
    margin-left: 30px;
}

.header-group {
    display: flex;
    align-items: center;
}

/* .header-item {
    align-items: center;
} */

.header-group .contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--ls-second);
    

    color: var(--secondary-txt-cl);
    text-decoration: none;
    transition: color var(--animation);
}



.header-group .contact-link:hover,
.header-group .contact-link:focus {
    color: var(--accent-cl);
}

.contact-link {
    display: flex;
    align-items: center;
}

/* .header-group .contact-link::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px; */
    /* background-color: red; */
    /* background-image: url(../images/Logo/WebStudio.png);
    background-size: contain; */
    /* outline: 1px solid plum;
}

.header-group .contact-link::before:hover,
.header-group .contact-link::before:focus {
    color: var(--accent-cl);
} */



/* Hero */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    
         
    text-align: center;
    background-color: var(--dark-bg-cl);
    background-image: linear-gradient(
        to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background/Img-rep.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    max-width: 1600px;
    
}

/* .container.main-hero {
    padding-top: 200px;
} */

.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: var(--ls-thirt);
    text-transform: uppercase;
    
    color: var(--hero-txt-cl);
    
}

.btn {
    padding: 10px 32px;
    
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    text-decoration: none;
    letter-spacing: var(--ls-thirt);

    background-color: var(--accent-cl);
    color: var(--hero-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--accent-cl);
    cursor: pointer;
    transition: background-color var(--animation);
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-btn-cl);
    
}

/* Modal form */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    width: 528px;
    /* height: 521px; */
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
                
    transition: transform var(--animation), opacity var(--animation);           

}

/* START */

.backdrop.is-hidden .modal-wrapper {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    visibility: hidden;
     
}

/* FINISH */

.backdrop .modal-wrapper {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
   
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--animation);
}

.modal-btn:hover {
    fill: var(--accent-cl);
}
/* .modal-btn:hover {
    fill: #ffffff;
    animation: animate180 2000ms infinite 100ms;
}

@keyframes animate180 {
    0% {
      transform: rotate(0deg);
      background-color: #188CE8;
      color: #ffffff;
    }
  
    50% {
      transform: rotate(180deg);
      background-color: var(--accent-cl);
      color: #ffffff;
    }
  
    100% {
      transform: rotate(0deg);
      background-color: #188CE8;
      color: #ffffff;
    }
} */

/* FORM */

.contact-form {
    padding: 40px;
    margin: 0;
    width: 528px;
}

.form-title {
    
    margin-bottom: 12px;

    /* font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121; */
}

.modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.form-item {
    position: relative;
    display: block;
    align-items: flex-start;
    padding: 0;
    
    /* margin-bottom: 10px; */

}

.form-label {
    /* position: absolute; */
    display: flex;

    margin-bottom: 4px;
    

    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.01em;

    color: #757575;
}

.modal-input {
    box-sizing: border-box;

    width: 100%;
    padding: 10px 42px;
    margin-bottom: 10px;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;

    cursor: pointer;

    transition: border-color var(--animation);
}

.modal-input:focus,
.modal-input:hover {
    border-color: var(--accent-cl);
}

.area-input {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: inherit;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    outline: transparent;

    transition: border-color var(--animation);

}

.area-input:focus,
.area-input:hover {
    border-color: var(--accent-cl);
}

.user-icon {
    position: absolute;
    top: 31px;
    left: 12px;

    fill: #212121;
    transition: fill var(--animation);
}


.modal-input:focus + .user-icon,
.modal-input:hover + .user-icon {
    fill: var(--accent-cl);
}

.form-btn {
    padding: 10px 55px;
}

.form-check {
    display: inline-flex;
    align-items: center;

    margin-bottom: 30px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    padding: 0;
    /* outline: 1px solid palevioletred; */
}

.icon-check {
    margin-right: 8px;

    border: 2px solid #212121;
    border-radius: 2px;

    fill: #ffffff;

    transition: background-color var(--animation), border-color var(--animation);
    
}

.checkbox:checked + .icon-check {
    border-color: var(--accent-cl);
    background-color: var(--accent-cl);
}

.check-title {
    margin-right: 6px;

    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
}

.link-label {

    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--accent-cl);
}

/* Особенности About */

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.about .list {
    display: flex;
}

.about {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: var(--ls-primary);

    color: var(--nav-cl);
}

.about-list .item {
    width: 270px;
}

.about-list .item + .item {
    margin-left: 30px;
}

.about-list .item {
    display: block;
    content: "";
    
    height: 120px;
        
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
 
}


.about-icon {
    display: flex;
    align-items: center;
    color: #188CE8;

}

.about-txt {
    margin-top: 0;
    margin-bottom: 10px;
}


.list .about-txt {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--ls-primary);
    text-transform: uppercase;
    
    color: var(--nav-cl);
}

.list .section-txt {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--ls-primary);

    color: var(--secondary-txt-cl);
}

/* Work */

.work {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 1px solid plum; */
}

.work .list {
    display: flex;
    /* outline: 1px solid paleturquoise; */
}

.work-list .item + .item {
    margin-left: 30px;
}

.work .section-title {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 50px;
}


.work-list .item {
    position: relative;
 
}

.work-thumb .no-gap {
    display: block;
}

.work-txt {
    position: absolute;
    
    bottom: 0;
    left: 0;
    display: flex;
    
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;

    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);

    /* outline: 1px solid blueviolet; */
   

}


/* TEAM */

.team {
    padding-top: 94px;
    padding-bottom: 94px;

}

.card-set {
    display: flex;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.member-group {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.team-card {
    margin-right: 30px;
}

.team-card:last-child {
    margin-right: 0;
}

.team .section-title {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 50px;
}

.team {
    justify-content: center;

    background-color: var(--secondary-bg-cl);
}

.team-card {
    width: 270px;
    

    background-color: var(--hero-txt-cl);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: var(--ls-primary);
    
    color: var(--nav-cl);
}

.member-position {
    margin-bottom: 16px;
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: var(--ls-primary);
    
    color: var(--secondary-txt-cl);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    color: #afb1b8;

    border-radius: 50%;
    transition: color var(--animation), background-color var(--animation);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-cl);
    color: var(--hero-txt-cl);
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-icon {
    fill: currentColor;
}


/* Clients */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;

}

.clients .section-title {
    margin-bottom: 50px;
}

.client-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color var(--animation), border-color var(--animation);
}

.client-item:hover,
.client-item:focus {
    
    color: var(--accent-cl);
    border-color: var(--accent-cl);
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-icon {
    fill: currentColor;
}

/* ПОРТФОЛИО */

.filter {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-btn {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;
}

.list-btn .item + .item {
    margin-left: 8px;
}

.list-btn, .proj-list a {
    list-style: none;
    text-decoration: none;
}

.list-btn button {
    padding: 6px 22px;
    

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: var(--ls-primary);

    color: var(--nav-cl);
    background-color: var(--secondary-bg-cl);
    border-radius: 4px;
    border-color: var(--secondary-bg-cl);
    cursor: pointer;
    transition: color var(--animation),
    background-color var(--animation),
    box-shadow var(--animation) ;
}

.list-btn button:hover,
.list-btn button:focus {
    color: var(--hero-txt-cl);
    background-color: var(--accent-cl);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Project Card */

.proj-list {
    display: flex;
    flex-wrap: wrap;
}

.proj-list .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}

.thumb:hover::before {
    opacity: 1;
}

.thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .overlay,
.card:focus .overlay {
    transform: translateY(0);
}

.text-card {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 63px 24px;
    width: 370px;


    font-size: 18px;
    line-height: 1.56;

    letter-spacing: 0.03em;

    color: #ffffff;
    opacity: 0;
    transition: opacity var(--animation);

}

.card:hover .text-card,
.card:focus .text-card {
    opacity: 1;
}

.card {
    border: 1px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

.card:hover,
.card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.proj-list .item:nth-child(3n) {
    margin-right: 0;
}

.proj-list .item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.proj-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: var(--ls-thirt);
    margin-bottom: 4px;

    color: var(--nav-cl);
}

.proj-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: var(--ls-primary);

    color: var(--secondary-txt-cl);
}

.card-image {
    display: block;
}

.border-card {
    
    padding: 20px 24px;
}

/* Footer */

.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-bg-cl);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.cont-list .item {
    padding-top: 0;
    padding-bottom: 0;
}

.contact {
    margin-bottom: 9px;
}

.footer-main {
    display: block;
    margin-right: 70px;
}

.footer-main .logo {
    margin-bottom: 20px;
}
.footer-logo {
    color: var(--hero-txt-cl);
}

.footer-group {
    display: block;
    /* padding-bottom: 60px; */
    width: 231px;
}

.cont-list {
    display: block;
}

.footer-group .contact-link {
    margin-bottom: 9px;
    margin-right: 70px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--ls-primary);

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color var(--animation);
}

.footer-group .contact-link:hover,
.footer-group .contact-link:focus {
    color: var(--accent-cl);
}

.contact {
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--ls-primary);
    color: var(--hero-txt-cl);
}

.join-group {  
    width: 206px;
    height: 80px;
    /* outline: 2px solid plum; */
}

.join-title {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.footer-link {
    background-color: rgba(255, 255, 255, 0.1);;
    color: #ffffff;
    transition: color var(--animation), background-color var(--animation);
}

.footer-link:hover,
.footer-link:focus {
    background-color: var(--accent-cl);
    color: var(--hero-txt-cl);
}

.footer-form {
    display: block;
    justify-content: center;
    align-items: center;

    padding-top: 0px;
    padding-bottom: 0px;
    width: 570px;
    
    margin-right: auto;
    margin-left: 93px;

    /* outline: 1px solid tomato; */
}

.footer-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-input {
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    
    width: 358px;
    height: 50px;

    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    outline: none;
    transition: border-color var(--animation);
    
}

.footer-input:hover,
.footer-input:focus {
    border-color: var(--accent-cl);
}

.btn-icon {
    fill: #ffffff;
    margin-left: 10px;
}


.footer-btn {
    padding: 10px 29px;
    height: 50px;
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: var(--ls-thirt);

    background-color: var(--accent-cl);
    color: var(--hero-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--accent-cl);
    cursor: pointer;
    transition: background-color var(--animation);
    
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--accent-btn-cl);
}
