html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--maim-font);
    background-color: var(--hero-txt-cl);
    color: var(--main-txt-cl);    
}

